.container {
    background-color: #232323;
    color: white;
    font-family: 'Open Sans Condensed', sans-serif;
    margin: 1rem;
    padding: 1rem;
}

.container h3 {
    font-family: 'Special Elite', cursive;
    color: yellow;
}

@media screen and (min-width: 768px) {
    .container {
        width: 45%;
    }
}

@media screen and (min-width: 1020px) {
    .container {
        width: 30%;
    }
}