.card {
    width: 90%;
    height: fit-content;
    display: flex;
    margin: 0.5rem auto;
    padding: 0.5rem;
    font-size: 1rem;
    border-radius: 10px;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    font-family: 'Open Sans Condensed', sans-serif;
}

.card header {
    margin: 0.5rem;
    font-size: 2rem;
    font-family: 'Special Elite', cursive;
}

.card p {
    margin-top: 0;
    font-weight: bold;
}

.card figure {
    margin: 0;
    height: 350px;
    width: 100%;
    display: flex;
    justify-content: center;
    overflow: hidden;
}

.card figure img {
    height: 100%;
}

.card span {
    font-weight: 300;
}

.quote {
    width: 80%;
    display: flex;
    margin: 0 auto;
    padding: 0.5rem;
    font-style: italic;
    border-radius: 10px;
    background-color: #EFEBEB;
    justify-content: space-between;
}

.random {
    color: #11C3DB;
    font-size: 2.5rem;
}

.star {
    color: #DBA511;
}

.arrow {
    font-size: 3rem;
}

.character-info {
    width: 100%;
    background-color: whitesmoke;
}