.header h1 {
    font-family: 'Special Elite', cursive;
    color: white;
    font-size: 1.5rem;
}


/*ID*/

#root {
    display: flex;
    justify-content: center;
}


/*Class*/

.App {
    width: 100%;
}

.header {
    display: flex;
    padding: 0.5rem;
    font-size: 4rem;
    color: yellow;
    height: fit-content;
    align-items: center;
    background-color: #232323;
    justify-content: space-between;
}

.nav {
    display: flex;
    align-items: center;
}

.breaking {
    margin: 0;
}

.bad {
    margin-top: 0;
    display: block;
    margin-left: 1.5rem;
}

.links {
    height: 100%;
    width: 6.5rem;
    color: yellow;
    padding: 0.5rem;
    font-size: 1.5rem;
    text-align: center;
    text-decoration: none;
    border-left: 1px solid white;
    border-right: 1px solid white;
    font-family: 'Open Sans Condensed', sans-serif;
}

.loader {
    display: flex;
    height: 100vh;
    align-items: center;
    justify-content: center;
}

@media screen and (min-width: 768px) {
    .characters-section {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
    }
}